/* line 1, ../sass/scrollThis.scss */
.scroll_content {
  padding-right: 7px!important;
}

/* line 5, ../sass/scrollThis.scss */
.scrollbar_track {
  top: 0;
  right: 0px;
  width: 7px;
  position: absolute;
  overflow: hidden;
  height: 100%;
  border-radius: 4px;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
/* line 17, ../sass/scrollThis.scss */
.scrollbar_track:active {
  background: #ddd;
}
/* line 19, ../sass/scrollThis.scss */
.scrollbar_track:active .scrollbar {
  opacity: 1;
}

/* line 25, ../sass/scrollThis.scss */
.scrollbar, .scrollbar_mock {
  position: absolute;
  top: 0;
  width: 7px;
  height: 0px;
  cursor: pointer;
  opacity: 0;
}

/* line 34, ../sass/scrollThis.scss */
.scrollbar {
  border-radius: 4px;
  background: #999;
  -webkit-transition: opacity 0.8s linear;
  -moz-transition: opacity 0.8s linear;
  -o-transition: opacity 0.8s linear;
  transition: opacity 0.8s linear;
}
/* line 41, ../sass/scrollThis.scss */
.scrollbar:active {
  background: #777;
}

/* line 46, ../sass/scrollThis.scss */
.scroll_time .scrollbar {
  opacity: 1;
}

/* line 51, ../sass/scrollThis.scss */
.scroll_to_end .scrollbar, .scroll_to_end .scroll_content {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
