/* line 1, ../sass/scrollThis.scss */
.scrollbar_track {
  top: 0;
  right: 4px;
  width: 7px;
  position: absolute;
  height: 100%;
}

/* line 8, ../sass/scrollThis.scss */
.scrollbar {
  top: 0;
  width: 7px;
  border-radius: 3px;
  height: 0px;
  background: #999;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.8s linear;
  -moz-transition: opacity 0.8s linear;
  -o-transition: opacity 0.8s linear;
  transition: opacity 0.8s linear;
}
/* line 20, ../sass/scrollThis.scss */
.scrollbar:active {
  background: #777;
}

/* line 24, ../sass/scrollThis.scss */
.scroll_time .scrollbar {
  opacity: 1;
}
