/* line 4, ../sass/stylesheet.scss */
div {
  box-sizing: border-box;
  position: relative;
}

/* line 9, ../sass/stylesheet.scss */
#container {
  margin-left: 15px;
  margin-top: 8px;
  width: 243px;
  height: 344px;
  overflow: hidden;
}
/* line 15, ../sass/stylesheet.scss */
#container .content {
  padding: 0;
  border: 0;
  margin: 0;
  display: block;
}
/* line 20, ../sass/stylesheet.scss */
#container .content .instagram_photo {
  width: 108px;
  height: 108px;
  border: 5px solid #fff;
  display: inline-block;
  vertical-align: top;
  margin: 3px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #666666;
  -moz-box-shadow: 0 0 2px #666666;
  box-shadow: 0 0 2px #666666;
}
/* line 29, ../sass/stylesheet.scss */
#container .content .instagram_photo img {
  width: 98px;
  height: 98px;
}
