.scrollbar_track{
	top:0; 
	right:4px; 
	width:7px; 
	position:absolute; 
	height:100%;
} 
.scrollbar{
	top:0; 
	width:7px; 
	border-radius:3px; 
	height:0px; 
	background: #999;
	opacity:0;
	cursor:pointer; 
	-webkit-transition: opacity .8s linear; 
	-moz-transition: opacity .8s linear; 
	-o-transition: opacity .8s linear; 
	transition: opacity .8s linear;
	&:active{
		background:#777;
	}
} 
.scroll_time .scrollbar{
	opacity:1
} 
